@mixin button {
  @include mono;
  background-color: $color3;
  border: 2px solid darken($color3, 40);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.about {
  min-height: 100vh;
  background-color: $color2;
  padding: 1em 0;
  &__title {
    margin: 1em 0;
    @include mono;
    color: $black;
    text-align: center;
  }
  &__wrapper {
    background-color: lighten($color2, 30);
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
    width: 90%;
    margin: 0 auto;
  }
  p {
    margin: 0;
    margin-bottom: 1em;
    line-height: 1.5;
  }
  .contact {
    // border: 1px solid black;
    // padding: 0.5em;
    // border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__button {
      @include button;
      width: 100%;
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      .group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          @include mono;
        }
      }

      button {
        @include button;
        padding: 0.5em;
      }
      // grid-template-columns: 1fr;
    }
  }
}
