@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes on-off {
  0% {
    content: "";
  }
  50% {
    content: "|";
  }
  100% {
    content: "";
  }
}
@keyframes grow-line {
  to {
    width: 30px;
  }
}
@keyframes disappear {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes turn {
  from {
    transform: rotateY(-1000deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes blur {
  to {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.425);
  }
}

@keyframes drop-in {
  from {
    transform: translateY(-50px) translate(-50%, -50%);
    opacity: 0;
  }
  to {
    transform: translateY(0) translate(-50%, -50%);
    opacity: 1;
  }
}
