.backdrop {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(0);
  background-color: rgba(0, 0, 0, 0);
  animation: blur 0.2s linear forwards;
  z-index: 50;
  overflow-y: scroll;
}
.contact {
  cursor: initial;
  animation: drop-in 0.1s linear forwards;
  border-radius: 10px;
  padding: 1.5em 1.5em 3em 1.5em;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 30em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.651);
  .error {
    font-size: 0.9em;
    color: red;
    font-weight: bold;
    letter-spacing: 0.05em;
    position: absolute;
    top: 0.75em;
    left: 2em;
    width: 100%;
  }
  &__form {
    position: relative;
    .red-border {
      border: 1px solid red !important;
    }
    .group {
      margin-top: 1em;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      label {
        position: absolute;
        top: 5px;
        left: 7px;
        background-color: white;
        opacity: 0.7;
        transition: all 0.1s linear;
      }
      @mixin move-label {
        transform: translateY(-14px);
        font-size: 0.8em;
        opacity: 1;
        padding: 0 5px;
      }
      input,
      textarea {
        font-size: 1em;
        padding: 0 0.5em;
        // font-family: inherit;
        border: 1px solid rgb(74, 74, 74);
        width: 100%;
        min-height: 2em;
        border-radius: 5px;
        &:focus {
          outline: none;
          & + label {
            @include move-label;
          }
        }
      }
      .focus {
        @include move-label;
      }
      textarea {
        padding-top: 0.5em;
        // font-size: 1.2em;
        height: 10em;
        resize: none;
        margin-bottom: 1em;
        font-family: arial;
      }
    }

    button {
      @include button;
      padding: 0.5em;
      position: absolute;
      bottom: -2em;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      font-size: 1em;
      outline: none;
    }
  }
  .sent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 80%;
    @include mono;

    color: $black;
    & > *::after {
      color: $black;
    }
  }
  .close {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    @include button;
  }
}

// @media only screen and (min-width: 700px) {
//   .contact {
//     width: 30em;
//   }
// }
