.courses {
  padding-top: 0.05px; //prevents margin collapse
  padding: 2em 0;
  background-color: $color4;
  &__title {
    @include mono;
    color: $color1;
    margin-bottom: 2em;
    text-align: center;
  }
  &__wrapper {
    $margin-between-courses: 40px;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    gap: $margin-between-courses;
    .course {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $black;
      padding: 1em;
      border-radius: 10px;
      gap: 1em;
      animation-duration: 1s;
      opacity: 0;
      &__header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
      &__title {
        @include mono;
        font-size: 1.2em;
        color: $color2;
        margin: 0;
      }
      &__date {
        color: $color1;
      }
      &__description {
        letter-spacing: 0.05em;
        color: $white;
        line-height: 1.4;
        margin: 0;
      }
      svg {
        position: absolute;
        top: 99%;
        left: 50%;
        width: 0;
        transform: rotate(90deg);
        transform-origin: left;
      }
      line {
        stroke: $black;
        stroke-width: 8;
      }
    }
    .fade-in-course {
      animation-name: fade-in;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .fade-in-course svg {
      animation-delay: 0.2s;
      animation-name: grow-line;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@media only screen and (min-width: 700px) {
  .courses {
    padding: 60px 5vw;
    $gap: 2em;
    &__title {
      text-align: left;
      margin-left: 16vw;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $gap;
      grid-auto-rows: 1fr;
    }
    &__wrapper > * {
      position: relative;
      $border: 3px dashed $black;
      &::after {
        content: "";
        position: absolute;
      }
      &:nth-of-type(4n + 1)::after {
        border: $border;
        width: $gap;
        top: 50%;
        left: 100%;
      }
      &:nth-of-type(4n + 4)::after {
        border: $border;
        width: $gap;
        top: 50%;
        right: 100%;
      }

      &:nth-of-type(4n + 2),
      &:nth-of-type(4n + 3) {
        &::after {
          border: $border;
          height: $gap;
          left: 50%;
          top: 100%;
        }
      }
      &:last-of-type::after {
        border: none;
      }
    }

    .fade-in-course {
      animation: none;
    }
    svg {
      display: none;
    }
    .course {
      opacity: 1;
      justify-content: space-between;
      height: 100%;
      &__description {
        line-height: 1.6;
      }
    }
  }
}
