.header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, $black 0 30%, $color4);
  padding-top: 100px;
  &__wrapper {
    color: $color1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    > * {
      margin: 0;
      opacity: 0;
    }
    .avatar {
      border-radius: 50%;
      background-color: #f7f7f7;
      padding: 1em;
      top: 5em;
      z-index: 1;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }

    .my-name-is {
      background-image: linear-gradient(45deg, $color2, $color3);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: clamp(1em, 2vw, 1.5em);
      margin-bottom: -1em;
    }
    h1 {
      background-image: linear-gradient(45deg, $color2, $color3);
      background-clip: text;
      font-family: "Patua One", cursive;
      -webkit-text-fill-color: transparent;
      font-size: clamp(2em, 5vw, 4em);
      letter-spacing: 0.09em;
      z-index: 2;
      text-align: center;
    }

    h4 {
      font-size: clamp(1em, 2vw, 1.5em);
      width: 20ch;
    }
  }
  .waves {
    display: none;
    position: absolute;
    bottom: calc(0% - 10px);
    svg {
      width: calc(100vw + 500px);
    }
    svg {
      z-index: 1;
      path {
        animation: move infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.79, 0, 0.31, 1);
        fill: $color2;
      }
      path:nth-of-type(1) {
        animation-duration: 10s;
        opacity: 0.1;
      }
      path:nth-of-type(2) {
        animation-duration: 7s;
        opacity: 0.2;
      }
      path:nth-of-type(3) {
        animation-duration: 5s;
        opacity: 0.3;
      }
      path:nth-of-type(4) {
        animation-duration: 10s;
        opacity: 0.4;
      }
    }

    rect {
      fill: transparent;
    }
  }
  @media only screen and (min-width: 700px) {
    .waves {
      display: block;
    }
  }
}

@keyframes move {
  from {
    transform: translate3d(-500px, 0, 0);
  }
  to {
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes move-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
