.header {
  overflow: hidden;
  width: 100vw;
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, $black 0 10%, $color2);
  &__wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    .group {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      > * {
        margin: 0;
      }
      .my-name-is,
      h1 {
        color: rgb(19, 19, 19);
      }
      .my-name-is {
        font-size: 1.5em;
        font-weight: bold;
      }
      h1 {
        font-size: 1.5em;
      }

      h4 {
        color: $color1;
        size: 1.2em;
        height: 1em;
        width: 25ch;
      }
    }
    .avatar {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
      border-radius: 50%;
      background-color: #f7f7f7;
      padding: 1em;
      top: 5em;
      z-index: 1;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }
  .waves {
    filter: blur(2px);
    display: none;
    position: absolute;
    bottom: calc(0% - 10px);
    svg {
      width: calc(100vw + 500px);
    }
    svg {
      z-index: 1;
      path {
        animation: move infinite;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(0.79, 0, 0.31, 1);
        fill: $color4;
      }
      path:nth-of-type(1) {
        animation-duration: 10s;
        opacity: 0.1;
      }
      path:nth-of-type(2) {
        animation-duration: 7s;
        opacity: 0.2;
      }
      path:nth-of-type(3) {
        animation-duration: 5s;
        opacity: 0.3;
      }
      path:nth-of-type(4) {
        animation-duration: 10s;
        opacity: 0.4;
      }
    }

    rect {
      fill: transparent;
    }
  }
  @media only screen and (min-width: 700px) {
    .header__wrapper {
      flex-direction: row;
      .avatar img {
        width: 120px;
        height: 120px;
      }
      .group {
        text-align: left;
        h1,
        .my-name-is {
          font-size: 2em;
        }
        h1 {
          letter-spacing: 0.05em;
        }
      }
      h4 {
        font-size: 1.5em;
      }
    }

    .waves {
      display: block;
    }
  }
}
