.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $white;
  z-index: 50;
  transition: all 0.3s cubic-bezier(0, 1.1, 1, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
  &__github {
    cursor: pointer;
    a {
      color: $black;
    }
  }
  &__links {
  }
  &__link {
    $size: 3em;
    $radius: 20px;
    width: $size;
    height: $size;
    border-radius: $radius $radius $radius $radius;
    transition: all 0.1s linear;
    cursor: pointer;
    overflow: hidden;
    color: transparent;
    text-align: center;
    border: 2px solid $white;
    @include mono;
    .letter {
      text-align: center;
      opacity: 0.5;
    }
    .word {
      display: none;
    }
    &:hover {
      width: 7em;
      .letter {
        display: none;
      }
      .word {
        display: inline;
      }
    }
  }
  .projects-link {
    background-color: $black;

    color: white;
  }
  .courses-link {
    background-color: $color4;
    color: $color1;
  }
  .about-link {
    background-color: $color2;
    color: black;
  }
}
.navbar--hidden {
  transform: translateY(-100%);
  opacity: 0;
}
.navbar--visible {
  transform: translateY(0);
  opacity: 1;
}
