.projects {
  min-height: 100vh;
  $arrow-height: 20px;
  padding-bottom: 41px;
  position: relative;
  background-color: $color1;
  width: 100vw;
  padding-top: $arrow-height;
  &::before {
    content: "";
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: $color4;
    z-index: 100;
    width: 10ch;
    height: $arrow-height;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: $color1;
    z-index: 100;
    width: 10ch;
    height: $arrow-height;
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    color: $color4;
    @include mono;
  }
  .mono {
    color: $color1;
  }
  a {
    color: $color3;
  }
  //mobile:
  .swiper {
    background-color: $black;
    padding: 0px;
    border-radius: 5px;
    width: 95%;
    max-width: 1200px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.534);
    color: $white;

    img {
      width: 100%;
      display: block;
      border-radius: 3px;
    }
    .description {
      padding: 1em;
    }
    p {
      width: 100%;
      letter-spacing: 0.05em;
      margin: 0.5em 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: $black;
      font-weight: bold;

      text-shadow: 0 0 5px rgb(255, 255, 255);
      top: 30%;
    }

    .swiper-pagination-bullet {
      background-color: white;
    }
  }

  //desktop

  .carousel3D {
    $width: 450px;
    $height: 500px;
    &__container {
      //temp
      padding-top: 5em;
      //temp-end
      margin: 0 auto;
      width: $width;
      height: $height;
      position: relative;
      perspective: 1900px;
    }
    &__wrapper {
      height: 100%;
      width: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;
      .project {
        border: 2px solid rgb(145, 145, 145);
        padding: 1em;
        display: block;
        position: absolute;
        width: $width;
        height: $height;
        text-align: center;
        color: rgb(211, 211, 211);
        opacity: 0.95;
        border-radius: 10px;
        background-color: rgb(41, 41, 41);
        &__title {
          display: none;
        }
        &__image {
          position: relative;
          width: 100%;
          height: 300px;
          border: 1px solid rgb(145, 145, 145);
          img {
            width: 100%;
          }
          video {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
          }
        }
        &__description {
        }
      }
    }
    .next,
    .prev {
      color: #444;
      position: absolute;
      top: 100px;
      padding: 1em 2em;
      cursor: pointer;
      background: #ccc;
      border-radius: 5px;
      border-top: 1px solid #fff;
      box-shadow: 0 5px 0 #999;
      transition: box-shadow 0.1s, top 0.1s;
    }
    .next:hover,
    .prev:hover {
      color: #000;
    }
    .next:active,
    .prev:active {
      top: 104px;
      box-shadow: 0 1px 0 #999;
    }
    .next {
      right: 5em;
    }
    .prev {
      left: 5em;
    }
  }
}

@media only screen and (min-width: 700px) {
  .projects {
    background-color: black;
  }
  .projects::before,
  .projects::after {
    visibility: hidden;
  }
}
