@import "vars";
@import "header";
@import "projects";
@import "courses";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  min-height: 300vh;
  background-color: $color4;
}
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
h2 {
  font-size: clamp(1em, 2vw, 1.5em);
  color: $color4;
  padding: 1em;
  text-align: center;
  padding: 0;
}

.mono {
  @include mono;
}
.normalize {
  word-spacing: -0.5em;
  font-size: 0.95em;
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

//animations
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes on-off {
  0% {
    content: "";
  }
  50% {
    content: "|";
  }
  100% {
    content: "";
  }
}

//media queries
@media only screen and (min-width: 700px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
