@import "vars";
@import "header";
@import "projects";
@import "courses";
@import "animations";
@import "navbar";
@import "about";
@import "contact";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  min-height: 300vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  // background-color: $color4;
}
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
h2 {
  font-size: 1.2em;
}
section {
  width: 100vw;
}

.mono {
  @include mono;
}
.highlight {
  @include mono;
  color: $color1;
}
.normalize {
  word-spacing: -0.5em;
  font-size: 0.95em;
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.writeAnimation::after {
  color: white;
  content: "|";
  position: absolute;
  animation-name: on-off;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

//media queries

@media only screen and (max-width: 699px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  h2 {
    font-size: 1.5em;
  }
}
